*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
:root{
    --primary: #f0f;
    --secondary: #0aa;
    --terthiary: #099;
    --dark: #222;
    --darkSecondary: #444;
    --light: #dfdfdf;
    --secondHandDegree: 0deg;
    --minuteHandDegree: 0deg;
    --hourHandDegree: 0deg;
    --startHourHandDegree: 0deg;
    --startMinuteHandDegree: 0deg;
}
body{
    background: radial-gradient(var(--darkSecondary),var(--dark),black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock{
    border-radius: 50%;
    height: clamp(1rem, 90vw, 90vh);
    width: clamp(1rem, 90vw, 90vh);
    border: 1rem var(--secondary) solid;
    box-shadow: inset var(--dark) 1px 1px 155px 25px,
        var(--dark) 3px 3px 155px 5px,
        var(--terthiary) -5px 5px 0px 0px,
        inset var(--terthiary) -3px 3px 0px 0px;
    position: relative;
    background: conic-gradient(from var(--startHourHandDegree),var(--primary),var(--dark)var(--startMinuteHandDegree),var(--primary)0deg,var(--dark));
}
.hand{
    border-left: var(--dark) 5px solid;
    position: absolute;
    top:50%;
    left: 50%;
    border-radius: 55px 55px 5px 5px;
    transform-origin: left center;
}
.second-hand{
    background: linear-gradient(45deg,var(--dark),red,var(--light));
    width: 40%;
    height: .5rem;
    animation-delay: 1s;
    animation: rotateSecondHand linear 60s infinite;
}
@keyframes rotateSecondHand {
    from{
        rotate: var(--secondHandDegree)
    }
    to{
        rotate: calc(var(--secondHandDegree) + 360deg);
    }
}
.minute-hand{
    background: linear-gradient(45deg,var(--dark),var(--secondary));
    width: 35%;
    height: .8rem;
    rotate: 40deg;
    animation-delay: 2s;
    animation: rotateMinuteHand linear 3600s infinite;
}
@keyframes rotateMinuteHand {
    from{
        rotate: var(--minuteHandDegree)
    }
    to{
        rotate: calc(var(--minuteHandDegree) + 360deg);
    }
}
.hour-hand{
    background: linear-gradient(45deg,var(--dark),var(--secondary),var(--secondary));
    width: 30%;
    height: 1rem;
    rotate: 270deg;
    animation: rotateHourHand linear 86400s infinite;
}
@keyframes rotateHourHand {
    from{
        rotate: var(--hourHandDegree)
    }
    to{
        rotate: calc(var(--hourHandDegree) + 360deg);
    }
}
